# Node.js
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
package-lock.json

# Env files
.env

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# Runtime data
tmp/
temp/

# Coverage
coverage/

# IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
